main{
    background-image: url('../../../assets/img/Fondo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #669999;
    font-family: sans-serif;
    margin-right: 20px;
    width: 100%;
}
.beneficios{
    background-image: url('../../../assets/img/FondoBeneficios.jpg');
    padding: 50px;
    /* max-width: 100%; */
    /* height: auto    ; */
}
.section-content{
    margin-top: 20px;
}
#SobreNosotros{
    background-color:yellow;
}
.card-link{
    text-decoration: none;
    border-radius: 8px;
    margin-top: 15px;
}
.card{
    width: 330px;
    height: 550px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0,0.2);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
}
.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}






