<main>
<!-- CARRUSEL DE IMAGENES  -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="../../../assets/img/Gym-Amigos2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
      </div>
      </div>
      <div class="carousel-item">
      <img src="../../../assets/img/YOUNG-_1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
      </div>
      </div>
      <div class="carousel-item">
      <img src="../../../assets/img/athletic-man-and-woman-with-dumbbells-training-and-practicing-in-gym.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
      </div>
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>     
<!-- BENEFICIOS -->
<div class="beneficios section-content">
  <div class="row">
    <div class="col-lg-4 text-white my-3">
      <h3><b>Gym RBE</b></h3>
      <hr>
      <p>
        Mas espacio para poder hacer deporte... 
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet deleniti sapiente explicabo eos 
        suscipit obcaecati tenetur itaque 
        amet vel alias repellat voluptatem voluptatibus dolor error
        nostrum maxime, neque veniam reiciendis!</p>
      <button class="btn btn-danger">
        <b>MAS INFORMACION</b>
      </button>
    </div>
    <div class="col-lg-8">
      <img class="img-fluid" style="width:90%;margin-left: 40px;" src="../../../assets/img/Beneficios.jpg" alt="beneficios">
    </div>
  </div>
</div>

<!-- TARJETAS DE CONTENIDO  -->
<div class="container mt-4" id="servicios">
  <div class="row">
      <div class="col-md-4 col-12">
        <div class="card text-center mb-3 img-fluid">
          <img src="../../../assets/img/undraw_Meditation_re_gll0.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> Gimnasio con protocolos de seguridad</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <a class="text-white bg-danger p-3 card-link">Mas Información</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 ">
        <div class="card text-center mb-3 img-fluid">
            <img src="../../../assets/img/undraw_healthy_habit_bh5w.png" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title"> Las mejores herramientas para ejercitarse al menor costo</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <a class="text-white bg-danger p-3 card-link">Mas Información</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 ">
        <div class="card text-center img-fluid">
            <img src="../../../assets/img/personal_trainer_ote3.svg" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title"> Entrenadores altamente capacitados para hacer seguimiento a nuestros usuarios</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <a class="text-white bg-danger p-3 card-link">Mas Información</a>
          </div>
        </div>
      </div>
      </div>
</div>

<!-- OTRO  -->
<!-- <div class="card newCard">
  <img class="card-img-top" src="../../../assets/img/BlackHole.jpg" alt="Card image">
  <div class="card-img-overlay">
    <h4 class="card-title text-white">John Doe</h4>
    <p class="card-text text-white">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div> -->

<!-- SOBRE NOSOTROS  -->

<div class="container section-content p-3" id="SobreNosotros">
<div class="row">
  <div class="col-lg-8">
    <img class="img-fluid" style="width:90%;margin-left: 40px;" src="../../../assets/img/Beneficios.jpg" alt="beneficios">
  </div>
  <div class="col-lg-4 my-3">
    <h2><b> ¿Qué es Gym RBE? </b></h2>
    <h5>EMPRESA CON MAS DE 30 AÑOS DE EXPERIENCIA</h5>
    <hr>
    <p>
      Dedicado al rubro de ejercicio bla bla
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet deleniti sapiente explicabo eos 
      suscipit obcaecati tenetur itaque 
      amet vel alias repellat voluptatem voluptatibus dolor error
      nostrum maxime, neque veniam reiciendis!</p>
  </div>
</div>
</div>
<br>
</main>











