<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl)">
<app-header logueo="no"></app-header>
<main class="login-content">
<div class="container p-4">
    <div class="row py-5">
    <div class="col-md-6 offset-md-3 ">
        <div class="card bg-dark p-2 ">
            <div class="card-body text-danger ">
                <h1 class="text-center my-4 h2"><b>ACCEDER</b></h1>
                <form [formGroup]="form" (ngSubmit)="login()" class="pt-3">
                    <div class="form-group mb-3">
                        <label class="form-label">Correo</label>
                        <div class="input-group">
                            <span class="input-group-text bg-danger"><i class="far fa-id-card text-white"></i></span>
                            <input type="text" formControlName="correo" name="usuario"  class="form-control">
                        </div>
                    </div>
                    <div class="form-group  mb-4">
                        <label>Contraseña</label>
                        <div class="input-group">
                            <span class="input-group-text bg-danger"><i class="fas fa-lock text-white"></i></span>
                            <input type="password" formControlName="password" name="clave" class="form-control">
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-danger btn-block mt-4" type="submit" [disabled]="!form.valid">
                            Iniciar Sesión
                        </button>
                    </div>
                    <hr>
                    <p class="text-center h6">Entrar con</p>
                    <div class="d-flex justify-content-center gap-2 mt-3">
                        <button class="btn btn-light btn-block" type="button" style="border-radius: 50%;"
                        (click)="loginProvider('google')">
                            <i class="fab fa-google"></i>
                        </button>
                        <button class="btn btn-light btn-block" type="button" style="border-radius: 50%;"
                        >
                            <i class="fab fa-twitter "></i>
                        </button>
                        <button class="btn btn-light btn-block" type="button" style="border-radius: 50%;">
                            <i class="fab fa-github"></i>
                        </button>
                    </div>
                    <hr>
                    <span class="d-flex justify-content-end  text-light">¿No tienes una cuenta?<a class="link-danger mx-2" routerLink ="/register">Registrarte</a></span>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
