<div class="row py-5">
    <div class="col-md-4 offset-md-4 opacity-25">
        <div class="card bg-dark p-2 ">
            <div class="card-body text-danger ">
                <h1 class="text-center my-4 h2"><b>LOGIN</b></h1>
                <form class="py-3">
                    <div class="form-group mb-4">
                        <label class="form-label">USUARIO</label>
                        <div class="input-group">
                            <span class="input-group-text bg-danger"><i class="fas fa-user text-white"></i></span>
                            <input type="text" name="usuario"  class="form-control" autofocus>
                        </div>
                    </div>
                    <div class="form-group  mb-4">
                        <label>PASSWORD</label>
                        <div class="input-group">
                            <span class="input-group-text bg-danger"><i class="fas fa-lock text-white"></i></span>
                            <input type="password" name="clave" class="form-control">
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-danger btn-block my-4" type="button">
                            Iniciar Sesión
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>