
main {
  padding: 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 70px);
  margin-top: 70px;
}
.page-header {
  display: flex;
  justify-content: space-between;
}
.header-actions button {
  outline: none;
  color: #fff;
  background: #5850ec;
  border: none;
  padding: .6rem 1rem;
  margin-left: 1rem;
  border-radius: 3px;
  font-weight: 600;
}
.header-actions button span {
  font-size: 1.2rem;
  margin-right: .6rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 2rem;
}
.card-single {
  background: #fff;
  padding: 1rem;
  box-shadow: 4px 4px 10px rgba(0,0,0,.1);
  border-radius: 4px;
}
.card-flex {
  display: grid;
  grid-template-columns: 70% auto;
  align-items: center;
}
.card-head span {
  display: block;
  text-transform: uppercase;
  color: #555;
  font-size: .9rem;
}
.card-head small {
  font-weight: 600;
  color: #555;
}
.card-info h2 {
  font-size: 2.2rem;
  color: #333;
}
.card-chart span {
  font-size: 5rem;
}
.card-chart.success span {
  color: seagreen;
}
.card-chart.danger span {
  color: tomato;
}
.card-chart.yellow span {
  color: orangered;
}
.jobs-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto 65%;
  gap: 2.5rem;
}
.analytics-card {
  background: #fff;
  padding: 1.5rem;
}
.analytics-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.analytics-head span {
  font-size: 1.5rem;
}
.analytics-chart small {
  font-weight: 600;
  color: #555;
  display: block;
  margin-bottom: 1rem;
}
.chart-circle {
  height: 100px;
  width: 100px;
  border-left: 8px solid transparent;
  border-right: 8px solid #5850ec;
  border-bottom: 8px solid #5850ec;
  border-top: 8px solid #5850ec;
  display: grid;
  place-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.analytics-card button {
  display: block;
  padding: .5rem 1rem;
  width: 100%;
  height: 40px;
  background: #5850ec;
  color: #fff;
  border: 1px solid #5850ec;
  border-radius: 3px;
}
.jobs h2 small {
  color: #5850ec;
  font-weight: 600;
  display: inline-block;
  margin-left: 1rem;
  font-size: .9rem;
}
.jobs table {
  border-collapse: collapse;
  margin-top: 1rem;
  overflow-x: auto;
}
span.indicator {
  background: #c9f7f5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
span.indicator.even {
  background: #fff4de;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.jobs table td div {
  background: #fff;
  margin-bottom: .7rem;
  height: 45px;
  display: flex;
  align-items: center;
  padding: .5rem;
  font-size: .7rem;
  color: #444;
  font-weight: 500;
}

table button {
  background: #8da2fb;
  color: midnightblue;
  border: 1px solid #8da2fb;
  padding: .3rem;
  border-radius: 3px;
}
