<main>
  <div class="page-header">
    <div>
      <h1>Analytics Dashboard</h1>
      <small>Monitor key metrics. Check reporting and review insights</small>
    </div>
    <div class="header-actions">
      <button>
        <span class="las la-file-export"></span>Export
      </button>
      <button>
        <span class="las la-tools"></span>Settings
      </button>
    </div>
  </div>
  <div class="cards">
    <div class="card-single">
      <div class="card-flex">
        <div class="card-info">
          <div class="card-head">
            <span>Purchases</span>
            <small>Number of purchases</small>
          </div>
          <h2>17,663</h2>
          <small>2% less purchases</small>
        </div>
        <div class="card-chart danger">
          <span class="las la-chart-line"></span>
        </div>
      </div>
    </div>
    <div class="card-single">
      <div class="card-flex">
        <div class="card-info">
          <div class="card-head">
            <span>Refunds</span>
            <small>Value of refunded orders</small>
          </div>
          <h2>$4,523.11</h2>
          <small>10% less refund</small>
        </div>
        <div class="card-chart success">
          <span class="las la-chart-line"></span>
        </div>
      </div>
    </div>
    <div class="card-single">
      <div class="card-flex">
        <div class="card-info">
          <div class="card-head">
            <span>Unique Visitors</span>
            <small>Number of visitors</small>
          </div>
          <h2>46,085</h2>
          <small>2% less visitors</small>
        </div>
        <div class="card-chart yellow">
          <span class="las la-chart-line"></span>
        </div>
      </div>
    </div>
  </div>
</main>
