<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl)">
<main>
  <h1>Gestión de Usuarios</h1>
  <div class="d-flex justify-content-between">
    <div class="form-group">
      <label for="" class="form-label">Filtrar por:</label>
      <select class="form-select" (change)="filter($event)">
        <option value="" selected>Selecciona una opción</option>
        <option value="email">Email</option>
        <option value="nombres">Nombres</option>
      </select>
    </div>
    <div class="form-group">
      <label for="" class="form-label">{{ labelValue }}</label>
      <input type="text" (input)="catchFilter($event)" class="form-control" [placeholder]="placeholderValue">
    </div>
  </div>
  <table class="table table-striped mt-5">
    <thead>
      <th>Nro</th>
      <th>Nombres</th>
      <th>DNI</th>
      <th>Correo</th>
      <th>Estado</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of usuariosExtra; let i=index">
        <td>{{ i }}</td>
        <td>{{ user.nombres }}</td>
        <td>{{ user.dni }}</td>
        <td>{{ user.correo }}</td>
        <td><span class="badge {{ user.estado ? 'bg-success':'bg-danger' }}">{{ user.estado ? 'Online':'Offline' }}</span></td>
        <td><button class="btn btn-outline-danger btn-sm"><i class="las la-user-alt-slash"></i>  Deshabilitar</button></td>
      </tr>
    </tbody>
  </table>
</main>