<!-- Categoria-->
<div class="ocultar">
    <div class="navbar navbar-expand-lg bg-danger p-3 font-clase">
        <div class="container-fluid">
            <div class="collapse navbar-collapse d-flex justify-content-around">
                <ul class="navbar-nav">
                <li class="nav-item" (click)="escogerCategoria('Articulos y accesorios')"><a class="nav-link text-white mx-5" style="cursor: pointer;">Articulos y accesorios</a></li>
                <li class="nav-item" (click)="escogerCategoria('Pesas y barras')"><a class="nav-link text-white mx-5 active " routerLink ="/principal">Pesas y barras</a></li>
                <li class="nav-item" (click)="escogerCategoria('Máquinas y bancas')"><a class="nav-link text-white mx-5" style="cursor: pointer;">Máquinas y bancas</a></li>
                <li class="nav-item" (click)="escogerCategoria('Suplementos')"><a class="nav-link text-white mx-5" style="cursor: pointer;">Suplementos</a></li>
                </ul>
            </div>  
        </div>    
    </div>
  </div> 
  <!-- -----PARTE RESPONSIVO - CATEGORIA BOTON--------- -->
  <div class="ocultar-responsive-nav">
    <div class="navbar navbar-expand-lg bg-danger font-clase">
        <div class="container">
            <div class="dropdown">
                <button type="button" id="categ" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-danger btn-block dropdown-toggle h-100 border btn-white btn-lg px-4">
                    <i class="fas fa-book-medical px-2"></i>
                    <span class="tp-active-text pl-3">Categoria</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="categ">
                    <a class="dropdown-item" (click)="escogerCategoria('Articulos y accesorios')" style="cursor: pointer;">Articulos y accesorios</a>
                    <a class="dropdown-item" (click)="escogerCategoria('Pesas y barras')" style="cursor: pointer;">Pesas y barras</a>
                    <a class="dropdown-item" (click)="escogerCategoria('Máquinas y bancas')" style="cursor: pointer;">Máquinas y bancas</a>
                    <a class="dropdown-item" (click)="escogerCategoria('Suplementos')" style="cursor: pointer;">Sumplementos</a>
                </div>
            </div>
            <div class=" btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-danger my-2 px-4 border btn-white btn-lg dropdown-toggle"data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://image.flaticon.com/icons/png/512/206/206853.png" width="35"><span class="m-2">Bryan</span><span class="caret"></span>
                </button>            
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item"><i class="fa fa-fw fa-user"></i> Editar Perfil</a></li>
                    <li><a class="dropdown-item" routerLink ="/principal/cart"><i class="fas fa-shopping-cart"></i> Mi Carrito</a></li>
                    <li class="divider"></li>
                    <li><a class="dropdown-item" routerLink ="/"><i class="fa fa-fw fa-power-off"></i> Cerrar Sesión</a></li>
                </ul>
            </div>   
        </div> 
    </div>
  </div> 
  
  <!-- Panel de la categoria-->
<div class="grid-block font-clase" style="background-image: url('../../../assets/img/list-productos/pesas_barras/fondo.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover; width: 100%; height: 25vh; ">
    <div class="container">
        <div class="text-center p-5" style="font-weight: 700;">
            <span class="h1 text-white">{{categoriaElegida}}</span>
        </div>
    </div>
</div>
  <div class="container p-4">
<div class="row ">
    <div class="col-6 col-md-6 col-lg-3 " *ngFor="let product of productsTemp">
            <app-product-item [product]="product"></app-product-item>
    </div>
    <!--<div class="col-12 ">
        <nav class="d-flex justify-content-center ">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1"><i class="fas fa-arrow-left"></i></a>
                </li>
                <li class="page-item active"><a class="page-link" routerLink="/principal">1</a></li>
                <li class="page-item">
                    <a class="page-link" routerLink="/principal">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" routerLink="/principal">3</a></li>
                <li class="page-item">
                    <a class="page-link" routerLink="/principal"><i class="fas fa-arrow-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>-->
</div>
</div>